.wrap
  & .swiper-slide
    width: auto!important
  &__slider
    overflow: hidden
    margin: 3.5rem -2rem 3.5rem 1.25rem
    @media (max-width: 546px)
      margin-top: 4.5rem
  &__slide
    width: auto
    height: auto
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    margin: 0
    video
      max-height: 19.5rem
      width: auto
      margin: 0
      display: block
      @media (max-width: 760px)
        max-height: auto