.hero
  @media (max-width: 769px)
  &__caption
    margin: 0 auto
    @media (max-width: 769px)
      align-items: center
      width: 100%
    & .sup-text 
      margin-bottom: -0.5rem
      margin-right: 16rem
      @media (max-width: 569px)
        font-size: 0.8rem
        margin-right: 8.4rem
    & h1
      line-height: 0.82
      & ~ h1 
        letter-spacing: -0.001em
        @media (max-width: 769px)
          align-self: center
          margin-right: -4rem
        @media (max-width: 569px)
          margin-right: 0
          align-self: end
      &:first-of-type
        @media (max-width: 769px)
          margin-left: -4rem
        @media (max-width: 569px)
          margin-left: 0
      & .line
        width: 8rem
        height: 2px
        background-color: var(--color-white)
        @media (max-width: 769px)
          width: 4rem
  
