.dreams
  max-width: 1001px
  padding: 0 30px
  margin: 0 auto
  @media (max-width: 769px)
    padding: 0
  & .cloud1
    animation-name: floating
    animation-duration: 3s
    animation-iteration-count: infinite
    animation-timing-function: ease-in-out
    @media (max-width: 769px)
      bottom: 5%
      scale: 1.2!important
    @media (max-width: 375px)
      bottom: -30%
      left: -13%
      scale: 1.5!important
  & .cloud2
    animation-name: floating-2
    animation-duration: 3s
    animation-iteration-count: infinite
    animation-timing-function: ease-in-out
    @media (max-width: 769px)
      top: 0
      scale: 1.2!important
    @media (max-width: 375px)
      top: -35%
      right: -13%
      scale: 1.7!important
  &__caption
    @media (max-width: 769px)
      width: 100%
    & .sup-text 
      margin-bottom: -22px
      margin-right: 9rem
      @media (max-width: 769px)
        margin-right: 5rem
        margin-bottom: 0
        font-size: 1rem
    & h3 
      font-size: 100px
      line-height: 1
      @media (max-width: 769px)
        font-size: clamp(3rem, -0.7rem + 13vw, 6.25rem)
      & > span 
        letter-spacing: 0%
      & .line
        width: 8rem
        height: 2px
        background-color: var(--color-white)
        @media (max-width: 769px)
          width: 5rem
  &__content
    width: 56%
    margin-left: auto
    @media (max-width: 769px)
      width: 65%
    & button 
      margin: 0 auto
    @media (max-width: 609px)
      width: 100%

@keyframes floating
  0%
    transform: translateY(0px)
  50%
    transform: translate(-20px, -20px)
  100%
    transform: translate(0, 0)

@keyframes floating-2
  0%
    transform: translateY(0px)
  50%
    transform: translate(20px, -20px)
  100%
    transform: translate(0, 0)