.portal
  position: absolute
  inset: 0
  min-height: 100%
  width: 100vw
  z-index: 37
  overflow: hidden
  &-wrap 
    display: flex
    justify-content: space-between
    align-items: center
    perspective: 400px
    height: 100%
  &-side
    display: flex
    justify-content: center
    align-items: center
    &__left
      width: 50%
      transform-origin: center center
      transform: rotateY(25deg) translateY(80px)
    &__right
      width: 50%
      transform-origin: center center
      transform: rotateY(-25deg) translateY(80px)

  &-slider
    display: flex
    gap: 10px
    overflow: hidden
    width: 100%
    position: relative
    &__track
      display: flex
      gap: 10px
      width: max-content
      animation: slideAnimationLeft 20s linear infinite
      &.right-track
        animation: slideAnimationRight 20s linear infinite
      & > div
        transition: all 0.5s linear
        transform-origin: center center
        &:hover
          transform: scale(1.2)

@keyframes slideAnimationLeft 
  from 
    transform: translateX(0)
  to 
    transform: translateX(-50%)

@keyframes slideAnimationRight
  from 
    transform: translateX(-50%)
  to 
    transform: translateX(0)
