.btn-rounded
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  border-left: 2px solid var(--color-white)
  border-right: 2px solid var(--color-white)
  padding: 20px 40px
  border-radius: 17px
  &:hover
    background-color: var(--color-white)
    color: var(--color-black)