@import './assets/styles/reset.sass';
@import './assets/styles/fonts.css';
@import 'tailwindcss';

* {
  box-sizing: border-box;
  --screen-md: 769px;
  --screen-sm: 374px;
  --color-white: #ffffff;
  --color-white-40: #ffffff67;
  --color-black: #000000;
}

@theme {
  --font-serif: ui-serif, 'Playfair Display', Georgia, 'Times New Roman';
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Satoshi',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-white: #ffffff;
  --color-white-40: #ffffff67;
  --bg-white: #ffffff;
}

@utility container {
  max-width: 1600px;
  margin-inline: auto;
  padding-inline: 1.25rem;
  @variant sm {
    padding-inline: 1.25rem;
  }
  ,
  @variant md {
    padding-inline: 1.75rem;
  }
}

body {
  font-family: 'Satoshi';
  color: #ffffff;
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(245, 160, 159);
  position: relative;
  padding-top: 130px;
}

body::before {
  content: '';
  position: absolute;
  inset: 0 75% 0 auto;
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}
body::after {
  content: '';
  position: absolute;
  inset: 0 25% 0 auto;
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

h2 {
  font-size: clamp(4rem, -0.7rem + 8.3vw, 6.9rem);
  letter-spacing: -4%;
}

@media screen and (max-width: 769px) {
  body::after {
    right: 20%;
  }
  body::before {
    right: 80%;
  }
}

@media screen and (max-width: 374px) {
  h2 {
    font-size: 3.4rem;
  }
}